@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    overflow-x: hidden; /* Hides vertical scrolling */
    background-color:#f3f3e0;
}



html {
    font-family: 'Nunito', sans-serif;
}

/* body {
    background-color: rgb(240, 240, 240);
} */

