.div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.div-container>div {
    border: 1px solid black;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

.div-content {
    border: 1px solid black;
    padding: 200px;
    margin: 20px;
}