body {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin:0 100px 20px 0;

}
#saveinfo {
    text-align: left;
}
#loginerror {
    color: #DC3545;
}
#submit {
    width: 50%;
    padding: 10px;
}
a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}