body {
    overflow-y: hidden;
    background-image: url('/smart-sevice-allocation-system/public/images/all.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.div-container {
    /* border: solid 1px black; */
    text-align: center;
    margin: 10% 30%;
    padding: 5%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    .fa-user-lock {
        font-size: 100px; 
        color: #333; 
    }
    p {
        font-size: larger ;
    }
    #submit {
        padding: 10px 40px; 
        font-size: larger;
    }
}
.backbutton {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    background: red;
    padding: 10px 20px;  
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 120px; 
    font-size: 16px; 
    text-transform: uppercase; 
}
.backbutton:hover {
background: darkred; 
}