header>h1 {
    text-align: center;
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body{
    background-image: url('/smart-sevice-allocation-system/public/images/all.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}